.section-block {
    padding: 20px 30px;
    position: relative;
    p{
        font-size: 17px;
        font-weight: bold;
        padding-bottom: 7px;
    }
    span {
        font-size: 14px;
        font-weight: bold;
    }
    .absolute-touch{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.section-feedback-block {
    &:active {
        color: #a7a7a7;
        //background: rgba(0, 0, 0, 0.1);
    }
}

.checkbox-label {
    display: block;
    position: relative;
    padding: 10px;
    font-size: 12px;
    margin-left: 30px;
    line-height: 16px;
    width: 40px;
    height: 20px;
    border-radius: 18px;
    background: #bfbfbf;
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        line-height: 19px;
        text-indent: 40px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        top: 0px;
        left: 0px;
        right: auto;
        background: white;
    }
    &:after {
        display:block;
        position:absolute;
        z-index:0;
        top:0;
        left:-300px;
        padding:10px;
        height:100%;
        width:300px;
        text-align:right;
        color:#bfbfbf;
        white-space:nowrap;
    }
}

#wrapper-language {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: center;
  padding-top: 0px;
}


::ng-deep {
  /** Overrides underline color **/
  .mat-form-field-appearance-legacy .mat-form-field-underline,
  .mat-form-field-appearance-legacy .mat-form-field-ripple,
  .mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-underline,
  .mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-ripple {
    background-color: #46C1BE !important;
  }

  .mat-select-arrow {
    color: #46C1BE !important;
    &.mat-focused {
      color: #46C1BE !important;
    }
    &:after {
      color: #46C1BE !important;
    }
  }
    .mat-form-field-infix {
        width: 120px !important;
    }
}
