:host {

    .button-wrapper {
        padding-left: 23px;
        padding-right: 23px;
        margin-bottom: 25px;

        .payment-button {
            display: block;
            width: 100%;
            background: #46c1be;
            margin-top: 20px;
            color: #fff;
            padding: 5px 16px;
            font-size: 16px;
            line-height: 36px;
            border-radius: 4px;
            border: none;
        }
    }

    .input-container {
        position: relative;

        input {
            padding-right: 40px;
        }
    }

    .input-wrapper {
        display: flex;

        .first-input-box {
            margin-right: 15px;
        }
    }

    .input-form {
        width: 100%;
        border: 2px solid #9ddedc;
        padding: 15px;
        border-radius: 5px;
        font-weight: normal;
        font-family: "Nanum Gothic",sans-serif;
        font-size: 15px;
        margin-top: 5px;
    }

    .box-text {
        font-size: 14px;
        font-weight: normal;
    }

    .default-box {
        padding: 14px;
    }

    .c-green {
        color: #46C1BE;

        &-small {
            @extend .c-green;
            font-size: 10px;
            padding-left: 5px;
        }
    }

    .wrapper {
        display: block;
        position: relative;
        padding-bottom: 10px;

        .box-1 {

            p {
                font-family: inherit;
                font-size: 16px;
                padding: 25px 24px;
                font-weight: normal;
            }
        }

        .box-2 {
            margin-bottom: 25px;

            h6 {
                font-family: inherit;
                font-size: 14px;
                font-weight: normal;
                padding: 25px 7px 15px 14px;
            }

            .box-2-list {
                padding: 0 14px;

                .box-2-item {
                    padding: 16px 0;

                    .chip {
                        padding: 7px 8px;
                        font-size: 16px;
                        font-weight: normal;
                        background: #46C1BE;
                        color: white;
                        border-radius: 15px;
                    }

                    p {
                        font-size: 16px;
                        padding: 6px 0;
                        position: relative;
                        font-weight: bold;

                        .after {
                            content: "";
                            position: absolute;
                            bottom: 7px;
                            width: 118px;
                            height: 5px;
                            border-radius: 6px;
                            left: 0;
                            background: #46C1BE;
                            opacity: .3;
                        }

                        span {
                            font-weight: 500 !important;
                        }
                    }
                }
            }
        }

        .box-3 {
            margin-bottom: 25px;

            .bg-white {
                padding: 14px;

                span.mini {
                    font-family: "Nanum Gothic", sans-serif;
                    font-size: 10px;
                    display: block;
                }

                button {
                    display: block;
                    width: 100%;
                    background: #46C1BE;
                    margin-top: 20px;
                    color: white;
                    padding: 5px 16px;
                    font-size: 16px;
                }
            }

            p {
                font-size: 14px;
                padding-bottom: 12px;
                font-weight: normal;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        #wrapper-billing {

            .c-green {
                font-size: 22px;
            }
        }
    }



    ::ng-deep {
        .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
            color: #46c1be;
        }

        /** Overrides underline color **/
        .mat-form-field-appearance-legacy .mat-form-field-underline,
        .mat-form-field-appearance-legacy .mat-form-field-ripple,
        .mat-form-field-appearance-legacy.mat-focused
        .mat-form-field-underline,
        .mat-form-field-appearance-legacy.mat-focused
        .mat-form-field-ripple {
            background-color: #46C1BE !important;
            height: 0;
        }

        .mat-select-arrow {
            color: #46C1BE !important;
            &.mat-focused {
                color: #46C1BE !important;
            }
            &:after {
                color: #46C1BE !important;
            }
        }

        .mat-form-field-infix {
            padding: 0;
            border: none;
            width: 100px;
        }

        .mat-form-field-appearance-legacy .mat-form-field-underline {
            height: 0 !important;
        }

        .mat-form-field-appearance-legacy .mat-form-field-wrapper {
            width: 100%;
            border: 2px solid #9ddedc;
            padding: 15px;
            border-radius: 5px;
            font-weight: normal;
            font-family: "Nanum Gothic", sans-serif;
            font-size: 15px;
            margin-top: 5px;
        }
    }

}
