.dialog-content{
    text-align: justify !important;
    padding-top: 0px !important;
}
.button-actions{
    display: block !important;
    text-align: right;
    padding-top: 15px;
    span{
        padding: 0 !important;
        min-width: auto;
        line-height: 20px;
        margin-left: 25px;
        font-size: 15px;
        color: #46C1BE;
        font-weight: bold;
    }
}
